html
    head
        title= title
    body
        h1= "Guest List"
        br
        h3= "Attending"
        ul
            each guest in attending
                li= guest
        h3= "Not Attending"
        ul
            each guest in notAttending
                li= guest
        