html
    body
        h1= "welcome"
            form(action="/replay", method="POST")
                fieldset
                    legend="Your Contact Info"
                    label(for="name")="Name"
                    input(type="text", name="name" required)
                    label(for="email")="Email"
                    input(type="email", name="email" required)
                    label(for="attending")="attending"
                    input(type="radio", name="attending" id="attendingYes" value=`${true}`)
                    label(for="notAttending")="not attending"
                    input(type="radio", name="attending" id="attendingNo" value=`${false}`)
                    br
                    label(for="radio")="Guests"
                        select(type="option" name="guests")= "Guests"
                            option(value="1")= '1'
                            option(value="2")= '2'
                            option(value="3")= '3'
                            option(value="4")= '4'
                            option(value="5")= '5'
                            option(value="6")= '6'
                            option(value="7")= '7'
                            option(value="8")= '8'
                    button(type="submit")= "Submit" 
            form(action="/guests" method="GET")
                button(type="submit")= "Guest Lists"   